<footer class="footer bg-[#f1f3f2] py-10">
    <div class="container">
     <h2 class="footer__tittle text-3xl mb-3"> Get the fresh Cart App</h2>
     <p class="footer__dec mb-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

     <div class="footer__subscription flex gap-x-3 mb-8">
        <input type="text " class="w-[90%] rounded-md">
        <button class="bg-main text-white px-3 py-1 rounded-md w-[10%]">share app</button>
     </div>
     <div class="flex justify-between items-center mt-5 border-b border-t border-gray py-5 flex-wrap">
      <div class="footer__payment flex items-center gap-3">
        <p>payment parners</p>
        <img class="w-[50px] mt-1" src="images/amazon-pay.png" alt="amazon">
        <img class="w-[50px] mt-1" src="images/American-Express-Color.png" alt="American">
        <img class="w-[50px] mt-1" src="images/mastercard.webp" alt="mastercard">
        <img class="w-[50px] mt-1" src="images/paypal.png" alt="paypal">

      </div>


      <div class="get__deliveries flex items-center gap-3">
        <h3>Get deliveries with FreshCart</h3>
        <img class="w-[100px]" src="images/get-apple-store.png" alt="apple">
        <img class="w-[100px]" src="images/get-google-play.png" alt="google">

      </div>
    </div>
     <!-- <div class="footer__payment flex justify-between border-t-[1px] border-gry border-b-[1px] py-5">
        <p>payment partenrs</p>
        <p>Lorem ipsum dolor sit.</p>

     </div> -->
    </div>
</footer>

