@if(detailsproduct){
<section>
  <h1 class="text-center text-4xl text-main my-2">Details Product</h1>
  <div class="flex flex-wrao group place-items-center gap-8">
    <div class="w-3/12">
      <div>
        <owl-carousel-o [options]="customOptionsDetails">
          @for (sliderImg of sliderImgs; track $index) {
          <ng-template carouselSlide [id]="sliderImg">
            <img [src]="sliderImg" class="w-[100]" [alt]="sliderImg"/>
          </ng-template>
          }
        </owl-carousel-o>

        <!-- @for (images of images; track $index) {
                        <img [src]="detailsproduct.images"class="w-[100]" [alt]="detailsproduct.title">

                    } -->
      </div>
    </div>

    <div class="w-9/12">
      <div>
        <div>
          <h2>{{ detailsproduct.title }}</h2>
          <p class="text-gray-500">{{ detailsproduct.description }}</p>
          <h3 class="text-sm font-bold">{{ detailsproduct.category.name }}</h3>

          <div class="flex justify-between mb-3">
            <p>price: {{ detailsproduct.price }}</p>

            <div class="flex">
              @for (num of [1,2,3,4,5].slice(0 , detailsproduct.ratingsAverage); track $index) {
              <span><i class="fa fa-star text-[#ffc908]"></i></span>
              }
              @if(detailsproduct.ratingsAverage % 1!==0){
              <i class="fa-solid fa-star-half-stroke text-[#ffc908]"></i>
              }
              <span class="text-slate-500">{{detailsproduct.ratingsAverage}} </span>
          </div>
            <!-- <p>
              <i class="fa fa-star text-[#ffc908]"></i>
              {{ detailsproduct.ratingsAverage }}
            </p> -->
          </div>
        </div>
      </div>

      <div class="text-end">
        <button (click)="addToWishlist(detailsproduct.id)" > <i class="fa-solid fa-heart  text-black p-2 rounded-md font-bold "></i> </button>
    
    </div>
      <button
      (click)="addToCart(detailsproduct.id)" class="bg-main text-white w-full p-2 rounded-md font-bold group-hover:opacity-100 transition-all duration-500 translate-y-full group-hover:bg-green-900"
      >
        +Add to cart
      </button>
    </div>
  </div>
</section>

}
